&i2c1 {
    status = "okay";
    tmp119@4a {
        compatible = "ti,mytmp119";
        reg = <0x4a>;
        label = "TMP119";
        odr = <0x200>;  // TMP119_DT_ODR_1000_MS
        alert-gpios = <&gpioa 1 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
        status = "okay";
    };
};
